<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/register.css">
</head>

<body>
    <div class="register-container">
        <h2>注册新账号</h2>
        <input type="text" id="username" placeholder="用户名, 3-20位">
        <input type="password" id="password" placeholder="密码, 6-32位">
        <input type="password" id="confirm-password" placeholder="确认密码">
        <button onclick="register()">注册</button>
        <p>已有账号？<a href="/login">点此登录</a></p>
    </div>

    <script src="static/js/register.js"></script>
</body>

</html>